<%- include('../partials/adminNav', { activePage: 'eboard' }) %>
<link rel="stylesheet" href="/css/admin.css">

<section class="container py-5">
  <h2 class="mb-4">Edit E-Board Member</h2>

  <form action="/admin/eboard/edit/<%= member._id %>" method="POST" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-4">
      <label class="form-label">Name</label>
      <input type="text" name="name" class="form-control" value="<%= member.name %>" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Position</label>
      <input type="text" name="position" class="form-control" value="<%= member.position %>" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Current Image</label><br>
      <img src="<%= member.image.startsWith('http') ? member.image : '/images/eboardUploads/' + member.image %>" class="img-fluid rounded mb-2" style="width: 100px;">
      <input type="file" name="image" class="form-control mt-2" accept="image/*">
      <input type="hidden" name="existingImage" value="<%= member.image %>">
    </div>
    <div class="col-12">
      <button class="btn btn-primary">Update Member</button>
      <a href="/admin/eboard" class="btn btn-secondary ms-2">Cancel</a>
    </div>
  </form>
</section>
